@tailwind components;
@tailwind utilities;

.hidden {
    display: none !important;
}
.warranty-bar {
    background: #D6D9CD !important;
    padding: 10px;
    min-height: 95px;   
}
/* .warranty-image {
    display: flex;
}
.warranty-text-container {
    display: flex;
} */
.warranty-text {
    color: #000;
    /* width: 207px; */
    text-transform: uppercase;
}