@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind components;
@tailwind utilities;

/*********************************
* Author: Blake Green
* Client: Sovi Creative - Skincare Website
* Development Date: 03/05/2024
* Production Date: N/A
* About: Homepage Creation
**********************************/

/* @font-face {
    font-family: "Roslindale";
    src: url("./assets/Roslindale-TextBold-Testing.woff");
} */

/* CSS Overwrites */
.hidden {
    display: none !important;
}
.header {
    max-height: 67px;
    padding: 10px 3px 10px 3px !important;
}
.button--primary.button-black {
    background-color: #000 !important;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 10px, 30px, 10px, 30px;
    gap: 10px;
    border: none !important;

    --shadow-horizontal-offset: none !important;
    --shadow-vertical-offset: none !important;
    --shadow-blur-radius: none !important;
    --shadow-opacity: none !important;
    --shadow-visible: none !important;
    --border-offset: none !important;
    --border-opacity: none !important;
}

/* Header */
.logo {
    font-family: "Roslindale", "sans-serif";
    font-size: 30px;
    font-weight: 700;
    line-height: 34.5px;
    text-align: center;
}
.list-menu__item {
    font-family: Karla;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

/* Annoucement Bar */
.utility-bar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Slideshow */
.banner__media {
    right: 0 !important;
    width: 50% !important;
}
.banner__content {
    background: transparent !important;
}
.banner__heading {
    font-family: Karla;
    font-size: 60px;
    font-weight: 800;
    line-height: 66px !important;
    letter-spacing: -0.5px !important;
    text-align: left;
}
.banner__text {
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px !important;
    text-align: left;
}
 
/* Warranty Bar */
.warranty-bar {
    background: #D6D9CD !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    min-height: 95px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.warranty-image-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.warranty-text {
    color: #000;
    width: 195px;
    text-transform: uppercase;
    line-height: 19.5px;
    font-size: 13px;
    font-weight: 500;
}

/* Shop By Skin Type */
.shopbyskintype-container {
    margin: 0 auto;
    padding: 50px;
    border-bottom: 1px solid black;
}
.shopbyskintype-text-container {
    margin: 0 auto;
    max-width: 675px;
}
.shopbyskintype-title {
    font-family: Karla;
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    letter-spacing: -1.5px;
    text-align: center;
    color:#000;
    padding-bottom: 25px;
}
.shopbyskintype-description {
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#000;
}

/* Multi-Row Section */
.image-with-text__grid {
    border-bottom: 1px solid black;
}
.image-with-text__text-item {
    padding: 95px !important;
    background: #D6D9CD !important;
}
.image-with-text__text-item:nth-child(1) {
    background: #CFC7C0 !important;
}
.image-with-text__heading {
    font-family: Karla;
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    letter-spacing: -1.5px;
    text-align: left;
    max-width: 530px;
}
.image-with-text__text {
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 530px;
}

/* Featured Blog Posts */
.article-card__excerpt {
    font-family: Inconsolata;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 1px;
    text-align: left;
}
.readmore-btn {
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}

/* Media Rules */
.card__heading h2 {
    font-family: Karla;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    letter-spacing: -0.5px;
    text-align: left;
}
.slideshow__controls .slider-buttons {
    display: none !important;
}
@media screen and (max-width: 749px) {
    .slideshow__controls .slider-buttons {
        display: block !important;
    }
}